* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.83em;
  background-color: rgb(165, 196, 197);
  font-family: 'Lato', sans-serif;
}
a {
  text-decoration: none;
}
#container {
  margin: 30px auto;
  max-width: 450px;
  padding: 20px;
}
.form-wrap {
  background-color: white;
  padding: 15px 25px;
  border: 2px solid rgb(45, 102, 148);
  border-radius: 5px;
}
.form-wrap h1,
p {
  text-align: center;
}
.form-wrap,
.form-group {
  margin-top: 15px;
}
.form-wrap .form-group label {
  display: block;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid rgb(54, 54, 54);
  border-radius: 5px;
  background-color: rgb(223, 223, 223);
}
.form-wrap button {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  background-color: rgb(27, 139, 130);
  border: 1px solid rgb(19, 18, 18);
  border-radius: 5px;
  color: white;
  font-size: 17px;
}
.bottom-text {
  font-size: 13px;
}
footer p {
  color: rgb(255, 255, 255);
}
footer p a {
  color: rgb(7, 247, 227);
}
.form-wrap button:hover {
  background-color: rgb(32, 233, 216);
}
